Section2-DevelopAndroidApp/*/*.iml
Section2-DevelopAndroidApp/*/.gradle
Section2-DevelopAndroidApp/*/local.properties
Section2-DevelopAndroidApp/*/.idea/*
Section2-DevelopAndroidApp/*/.idea/workspace.xml
Section2-DevelopAndroidApp/*/.DS_Store
Section2-DevelopAndroidApp/*/build
Section2-DevelopAndroidApp/*/app/build
Section2-DevelopAndroidApp/*/captures
Section2-DevelopAndroidApp/*/.externalNativeBuild
Section2-DevelopAndroidApp/*/gradle.properties